<h1>Movies</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Rating</th>
        <th>More Info</th>
    </tr>
    <% @movies.each do |movie| %>
        <tr>
            <td><%= movie.title %></td>
            <td><%= movie.rating %></td>
            <td><%= link_to "More Info", movie_path(movie) %></td>
        </tr>
    <% end %>
</table>