<h1>Movies</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Rating</th>
        <th>Add to a list</th>
    </tr>
    <% @movies.each do |movie| %>
        <tr>
            <td><%= movie.title %></td>
            <td><%= movie.rating %></td>
        </tr>
    <% end %>
</table>

<h1>Movies</h1>
